@import "navigation.css";

:root {
  --primary-color-one: #4a526d;
  --primary-color-two: #ed6779;
  --primary-color-three: #dcaf48;
  --secondary-color-one: #ecebe8;
  --secondary-color-two: #d5d5d8;
  --light: #fff;
  --dark: #333;

  --primary-color-two-less-opacity: rgba(237, 103, 121, 0.1);
}

/* Color currently selected navigation item */
.nav-items li:first-child a {
  color: var(--primary-color-two);
}

/* Main */
main .hero-section {
  height: 55rem;
  background-color: var(--primary-color-one);
  display: flex;
  padding: 2rem 2rem;
}

main .text h2 {
  margin: 0;
  font-size: 8rem;
  color: var(--light);
}

main .text p {
  font-size: 3rem;
  color: var(--light);
}

main .text .sell-now-button {
  background-color: var(--primary-color-two);
  color: var(--light);
  font-weight: 500;
  font-size: 2rem;
  width: 12rem;
  height: 5rem;
  border: none;
  border-radius: 0.5rem;
}

main .image img {
  width: 58rem;
  height: 40rem;
  object-fit: contain;
  object-position: right;
}

/* How We Work */
.how-it-works-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color-three);
}

.heading-container h2 {
  font-size: 4rem;
  color: var(--light);
  margin: 5rem 0;
}

.cards-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  width: 35rem;
  height: 32rem;
  background-color: var(--light);
  border-radius: 1rem;
  padding: 5rem;
}

.card i {
  background-color: var(--primary-color-two-less-opacity);
  color: var(--primary-color-two);
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.sell-now-button {
  width: 14rem;
  height: 5rem;
  font-weight: 600;
  background-color: var(--primary-color-one);
  border-radius: 1rem;
  border: none;
  color: var(--light);
  font-size: 2rem;
  border-radius: 0.4rem;
  margin: 5rem 0;
}
