@import "navigation.css";

/* Color currently selected navigation item */
.nav-items li:first-child a {
  color: var(--primary-color-two);
}

/* Main */
main .hero-section {
  height: 60rem;
  background-color: var(--primary-color-one);
}
