html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Sogeo UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.paper-button,
.scissors-button,
.rock-button {
  font-size: 50px;
  color: yellow;
  border-radius: 5px;
  padding: 20px;
}

.rock-button {
  background-color: red;
}

.rock-button:hover {
  background-color: lightcoral;
}

.paper-button {
  background-color: blue;
}

.paper-button:hover {
  background-color: lightblue;
}

.scissors-button {
  background-color: green;
}

.scissors-button:hover {
  background-color: lightgreen;
}

.scores-paragraph {
  gap: 10px;
}

#user-score {
  color: blue;
}
#computer-score {
  color: red;
}
