* {
  margin: 0px;
  padding: 0px;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkbox {
  display: none;
}

.toggle-button {
  width: 4rem;
  height: 2rem;
  background-color: silver;
  border-radius: 2rem;
  cursor: pointer;
  position: relative;
}

.toggle-button::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: yellow;
  position: absolute;
  top: 0.25rem;
  left: 0.2rem;
  border-radius: 100px;
}

#checkbox:checked + .toggle-button {
  background-color: black;
}

#checkbox:checked + .toggle-button::after {
  left: 2.3rem;
  background-color: white;
}
