.container {
  width: 90%;
  margin: 10vh auto;
}

.carousel {
  border: 2px solid #ccc;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.slider {
  height: 100%;
  display: flex;
  width: 400%;
  transition: all 0.3s;
}

.slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 50px;
}

.arrow.right {
  right: 5%;
}

.arrow.left {
  left: 5%;
}
